body {
    
}



#details {
    background-color: #000000;
    color:#7ABFBF;
}




footer {
    text-align: center;
}

@media print {
    .print
    .printonly
    img { 
        display: none;
    }
}